__pycache__
*.pyc
.DS_Store
wandb
logs
venv
myenv
data_map.txt
faiss.index
sqlite.db
experiments
question_generator
archive
experimental/notebooks/test_observability.ipynb
*test_observability.ipynb*
.env*
*.env
src/api/.env
demo/english_activity.csv
demo/db/
src/db
scripts
.env.*
!.env.*example
*.pkl
secrets.toml
secrets.*.toml
coverage_html
coverage.xml
.coverage
uploads
db.sqlite
evals
